<!-- First line is document type. DOCTYPE html specifies HTML5 -->
<!DOCTYPE html>
<!-- Opening html tag containing language attribute. en is English See
ISO standard 639-1 for set of two-letter codes used for languages. These
can be paired with Country codes from ISO standard 3166, such as en-US.
This can be used to suggest a translation to a different language.-->
<html lang="en">
<!-- Head element contains meta data about the document, links to other files related.
There is no visual content in this section.-->
<head>
  <!--Character encoding of the document. UTF-8 is a unicode translation format that comes in 8-bit units.
  By default, HTML4 processors should support UTF-8, and XML (XHTML) processors should support UFT-8 and UTF-16.
  The name/value pairs can use single ' ' or double quotes " " to specify the value.-->
  <meta charset="utf-8" />
  <!--Title is the text that will appear in the title bar of the browser when the page is displayed. -->
  <title>Basic Template</title>
<!--Closing head tag-->
</head>
<!--The body element contains all the visual elements of the page.-->
<body>
  This is the body of the document.
  <!-- Tags containing more than one attribute should be separated by white space-->
  <p id="firstParagraph" class="bold">
    <!-- The strong tag is not considered presentation because it specifies the text is
    important, not how it is styled. You may style the tag any way you like bold, italic, or blue.-->
    <strong>Hello</strong>
  <!-- Close tags in the same order they were opened -->
  </p>
  <!-- Nested elements should stay in the same branch of the tree they were opened.
  Child elements will be nested inside the respective parent elements.-->
</body>
</html>
