<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Lists</title>
</head>
<body>
  <h1>Unordered Lists</h1>
  <!--Unordered lists ul create a set of bullet points. -->
  <ul>List Title
    <!--li (list items) are the items inside the list. li is nested inside ul.-->
    <li>This is the first point
    <!--The li tag is self closing. The closing tags can be added or omitted.-->
    <li>This is the second point
    <li>This is the third point
  </ul>
  <!--Unordered lists are oftened combined with CSS to create navigation.-->
  <h1>Ordered Lists</h2>
  <!-- Ordered lists are the same as unordered lists but they use ol instead of ul.
  The format of ordered lists is numbered-->
  <ol>List Title
    <li>This is the first point
    <li>This is the second point
    <li>This is the third point
      <!--You can use anything as content for the li items-->
  </ol>
  <!--A combination of unordered and ordered lists can be used together
  to create a more complex structure.-->
  <ol>
    <li>Point one
      <ul>
        <li>Sub point one</li>
        <li>Sub point two</li>
      </ul>
    </li>
    <li>Point Two
      <ul>
        <li>Sub point one</li>
        <li>Sub point two</li>
      </ul>
    </li>
    <li>Point three with no subpoints</li>
  </ol>
  <!--Description lists contain a name value group and each group has one or more names,
  followed by one or more definitions.-->
  <dl>
    <!--Group One-->
    <dt>Coffee</dt>
      <!--Set of items related to group one-->
      <dd>Cappuccino</dd>
      <dd>Mocha</dd>
      <dd>Espresso</dd>
      <dd>Drip</dd>
    <!--Group Two-->
    <dt>Tea</dt>
      <!--Set of items related to group two-->
      <dd>Chai</dd>
      <dd>English Breakfast</dd>
      <dd>Green Tea</dd>
  </dl>
</body>
</html>
