<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Basic Template</title>
</head>
<body>
  <!--The smaller the number the larger the heading size. This is default format in the browser.
  Elements h1-h6 are block elements. Whenever a block element ends the next element automatically
  begins on a new line.-->
  <h1>This is a top level heading</h1>
  <!--A sequence of white space inside html elements including new lines will be condensed
  down to a single white space character. -->
  <h2>This is             a second level
             heading</h2>
  <!--You can use non-breaking space &nbsp; to add extra white space characters-->
  <h3>This is &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; a third level <br /> heading</h3>
  <!--The break tag ends the line you are currently on and resumes on the next line. No closing tag required.-->
  <p>This is the first paragraph</p>
  <!--Text will automatically wrap if it reaches the right side of the browser or the user resizes it will
  be adjusted by a process called browser reflow. You can use wbr to indicate where a good place to
  add a line break in the paragraph would be.-->
  <p>This is the second paragraph</p>
  <!--blockquote is used to capture quoted text optionally attributed to a source.-->
  <!--default browser style for blockquote is indented.-->
  <blockquote>No one can make you feel inferior without your consent.
    <!--Cite is an optional child tag in the blockquote. Default browser style is italics.-->
    <cite>Eleanor Roosevelt</cite>
  </blockquote>
</body>
</html>
