<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Basic Template</title>
</head>
<body>
  <!--Hyperlinks reference another html document and when clicked will
  navigate to that document.-->
  <p> Please click <a href="Two.html">here</a> to view page 2</p>
  <!--Hyperlinks can be used to point to URLS outside this site.-->
  <a href="http://www.google.com">Link to Google</a>
  <!--The img tag can be used to add images to the html page.-->
  <p>This is an image of a hummingbird feeder
    <!--src points to the image source. It can be an absolute or relative URL,
    or be a reference to an image on a different site.-->
    <!--The most common image types are jpg, png, and gif.-->
    <img src="birdfeeder.jpg"
    title="Hummingbird feeder" width="500"></p>
    <!--The title will display as a tooltip and print text when curser hovers over the image.
    This will also be announced to screen readers.-->
    <!--The width attribute specifies width in pixels. If height is not specified it will scale the image appropriately.-->
</body>
</html>
